<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1v">
          <match url="^server/.*$"  />
          <action type="Rewrite" url="/index.php"  />
        </rule>
        <rule name="rule 2v">
          <match url="^include/.*$"  />
          <action type="Rewrite" url="/index.php"  />
        </rule>
        <rule name="rule 3v">
          <match url="^page-(content|functions|include)/.*$"  />
          <action type="Rewrite" url="/index.php"  />
        </rule>
        <rule name="rule 4v" stopProcessing="true">
          <match url="^(.*)$"  />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.php"  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
